@model ResetPasswordVM

@section Scripts {
    @if (TempData["Notification"] is not null)
    {
        <script>
            toastr.success('@TempData["Notification"]')
        </script>
    }
    @if (TempData["Notification-error"] is not null)
    {
        <script>
            toastr.error('@TempData["Notification-error"]')
        </script>
    }

    <partial name="_ValidationScriptsPartial">
}

<div class="container my-3">
    <div class="row mb-3 align-items-center">
        <div class="col-md-12">
            <h2 class="display-6">Register new Account</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label for="OTP" class="form-label">OTP</label>
                    <input class="form-control" asp-for="OTP">
                    <span asp-validation-for="OTP" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input class="form-control" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="ConfirmPassword" class="form-label">ConfirmPassword</label>
                    <input class="form-control" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
