@model Category

@section Scripts {
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
}

<div class="container mt-4">
    <div class="row mb-3 align-items-center">
        <div class="col-md-12">
            <h2 class="display-6">Edit Category</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form action="/Admin/Category/Edit" method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="@Model.Name">
                </div>
                <div class="form-floating mb-3">
                    <textarea name="description" class="form-control" style="height: 100px" placeholder="Leave a comment here" id="floatingTextarea">@Model.Description</textarea>
                    <label for="floatingTextarea">Description</label>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <input type="checkbox" checked data-toggle="toggle" name="status" value="@Model.Status">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>