<h1>Name: @Model.name</h1>
<h1>
    Age:
    @if (Model.age < 18)
    {
        <p>You are underage</p>
    }
    else
    {
        <p>Model.age</p>
    }
</h1>
@for (int i = 0; i < 5; i++)
{
    <h1>Salary: @Model.salary</h1>
}